# MongoDB Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/portfolio?retryWrites=true&w=majority

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dfsg5ylsb
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# Client Side Cloud Name (Optional)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dfsg5ylsb
